*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ddf7dd;
    font-family: serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #821930;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(248, 246, 246, 0.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #f9f7f7;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(125, 43, 43, 0.16);
    border: none;
    border-radius: 30px;
    color: rgb(14, 13, 13);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48p;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #d17474,
                5px 5px 12px rgba(0, 0, 0,.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #f8f5f5;
    box-shadow: -5px -5px 12px #b86b6b,
                5px 5px 12px rgba(0, 0, 0,.16);
}