*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f4c2; 
    font-family: serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    /* background-color: #f060a3; */
    background-image: linear-gradient(pink,purple);
    padding: 25px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(248, 246, 246, 0.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #f9f7f7;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(125, 43, 43, 0.16);
    border: none;
    border-radius: 30px;
    color: rgb(16, 16, 16);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #353535,
                5px 5px 12px rgba(67, 65, 65, 0.16);
    border: none;
    border-radius: 20%;
    margin: 8px;
    font-size: 16px;
}
.clear{
    /* background-color: rgb(211, 53, 53); */
    background-image: linear-gradient(#f2f4c2,brown);
    color: #ffffff;
}
.operations{
    background-color: #7b7171;
    color: #ffffff;
    box-shadow: -5px -5px 12px #a6a1a1,
    5px 5px 12px rgba(243, 237, 237, 0.16);;
}
.equal{
    width: 115px;
    border-radius: 40px;
    color: #ecf0f3;
    background-color: #060606;
    box-shadow: -5px -5px 12px #c2b2b2,
                5px 5px 12px rgba(0, 0, 0,.16);
}
